<div class="cart-dropdown">
  <button type="button" data-loading-text="{{ text_loading }}" class="cart-button">
    <div class="cart_detail">
      <div class="cart_image"><i class="material-icons-outlined shopping-cart"></i></div>
      <span id="cart-total" class="cart_total">{{ cart_count }}</span>
    </div>
  </button>

  <div id="cart" class="cart-dropdown-menu">
    {# Content will be loaded here via AJAX #}
  </div>
</div>
