<form action="{{ action }}" method="post" id="liqpay-form">
  <input type="hidden" name="data" value="{{ data }}">
  <input type="hidden" name="signature" value="{{ signature }}">
  <div class="buttons">
    <div class="pull-right">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-credit-card"></i> {{ button_confirm }}
      </button>
    </div>
  </div>
</form>
