<form action="{{ action }}" method="post" accept-charset="utf-8" id="liqpay-checkout-form">
  <input type="hidden" name="data" value="{{ data }}">
  <input type="hidden" name="signature" value="{{ signature }}">
  <div class="buttons">
    <div class="pull-right">
      <button type="submit" class="btn btn-primary">{{ button_confirm }}</button>
    </div>
  </div>
</form>
<script>document.getElementById('liqpay-checkout-form').submit();</script>
